$theme-colors: (
  "primary": #c25d51,
);
$grid-points: (
  sm: 0px,
  md: 768px,
  lg: 1024px,
);

// $container-max-widths: (
//   sm: 768px,
//   md: 1024px,
//   lg: 1200px,
// );

@import "../node_modules/bootstrap/scss/bootstrap";
