$grid-breakpoints:(
  sm: 768px,
  md: 1024px,
  lg: 1600px
);
$container-max-widths:(
  sm: 768px,
  md: 1024px,
  lg: 1600px,
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  background: red;
}
