$grid-breakpoints:(
  sm: 768px,
  md: 1024px,
  lg: 1600px
);
$container-max-widths:(
  sm: 768px,
  md: 1024px,
  lg: 1600px,
);

$theme-colors: (
  primary: #c25d51
);

@import "../node_modules/bootstrap/scss/bootstrap";

.vertical-align {
  vertical-align: bottom;
}

.background-pc {
  background-image: url("../assets/vasily-koloda-8CqDvPuo_kI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.fa-search {
  color: #fff;
}

.jumbotron {
  background: #c7c7c7;
}

.card-header {
  background: none;
  text-align: center;
}

.card-footer {
  text-align: center;
}

input {
  width: auto;
}

.jumbotron-fluid {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .jumbotron {
    background: none;
  }
}
