$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
);
$container-max-widths: (
  sm: 720px,
  md: 992px,
  lg: 1140px,
);

$theme-colors: (
  primary: #c25d51,
);

.fontsize-8 {
  font-size: 0.8rem;
}

.font {
  font-size: 2rem;
}

.fa-copyright,
.fa-facebook,
.fa-twitter,
.fa-whatsapp,
.fa-youtube,
.fa-instagram-square {
  color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next {
  color: blue;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.vertical-align {
  vertical-align: bottom;
}

.background-pc {
  background-image: url("../assets/vasily-koloda-8CqDvPuo_kI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-search {
  color: #fff;
}

h3 {
  display: flex;
  justify-content: center;
}

.jumbotron {
  background: #c7c7c7;
}

.fontsize-2 {
  font-size: 3rem;
}

.card-header {
  background: none;
}

.form-control {
  width: 50%;
}

.bg-2 {
  background: rgb(186, 186, 186);
}

.border-radius {
  border-radius: 150px;
}

.list-group1 {
  display: flex;
  justify-content: space-between;
}

.bg-3 {
  background: skyblue;
}

.text-center-p {
  text-align: center;
}

@media (max-width: 768) {
  .d-card-none {
    display: none;
  }

  .jumbotron {
    background: none;
  }

  .background-pc {
    background: none;
  }
}
