/* RESET STYLES */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ";  content:none;}
a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    /* change colours to suit your needs */
    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none;
    }

    /* change colours to suit your needs */
    mark {
        background-color: #ff9;
        color: #000;
        font-style: italic;
        font-weight: bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title],
    dfn[title] {
        border-bottom: 1px dotted;
        cursor: help;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* change border colour to suit your needs */
    hr {
        legend {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: bold;
            padding-bottom: 3px;
            border-bottom: 1px solid #333;
            width: 100%;
        }

        form ol,
        form ul {
            list-style-type: none;
            margin: 0 2%;
        }

        form li {
            margin: 0.5em 0;
        }

        label {
            font-size: 0.8em;
        }

        form ol li label {
            display: block;
        }

        form ul li label {
            display: inline;
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="email"],
        input[type="date"] {
            width: 50%;
            padding: 0.5em 0.7%;
            margin-top: 0.4em;
            font-size: 1em;
            color: #eee;
            border: none;
            background-color: rgba(0, 0, 0, 0.6);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
        }

        input[type="number"],
        input[type="date"] {
            width: 20%;
        }

        input[type="submit"] {
            background-color: rgba(0, 0, 0, 0.6);
            color: #eee;
            padding: 0.5em 0.7%;
            font-size: 1em;
            Chapter 6140 border: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            margin-left: 2%;
        }

        /* Aside */
        aside {
            background-color: #ccc;
            padding: 1em 2%;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
        }

        aside h2 {
            font-size: 1em;
            line-height: 1.3em;
            text-transform: uppercase;
            margin-bottom: 1em;
        }

        aside p {
            font-size: 0.8em;
            line-height: 1.2em;
            margin-bottom: 1.5em;
        }

        aside ul {
            list-style-type: none;
            font-size: 0.8em;
            line-height: 1.5em;
        }

        aside a {
            color: #333;
            background-color: transparent;
            text-decoration: none;
            -webkit-transition: all 3s ease;
            -moz-transition: all 3s ease;
            -o-transition: all 3s ease;
            transition: all 3s ease;
        }

        aside a:hover {
            color: #c00;
            background-color: black;
            font-weight: bold;
        }

        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #cccccc;
        margin: 1em 0;
        padding: 0;
    }

    input,
    select {
        vertical-align: middle;
    }

    /* END RESET */
    /* Layout Block level elements */
    div#pagewrap {
        width: 80%;
        margin: 4em auto;
        font-family: Verdana, Arial, sans-serif;
    }

    /* Footer */
    footer {
        border-top: 1px solid #666;
        color: #c00;
        font-family: Zapfino, Verdana, sans-serif;
        font-size: 0.8em;
    }